@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded-md border-2 border-blue-600 bg-blue-600 px-5 py-2 text-center text-base font-semibold text-white transition duration-200 ease-in hover:bg-white hover:text-blue-600 focus:ring-blue-600 active:scale-90 disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-100 disabled:text-gray-300 disabled:focus:ring-gray-600;
  }

  .btn-danger {
    @apply rounded-md border-2 border-red-500 bg-red-500 px-5 py-2 text-center text-base font-semibold text-white transition duration-200 ease-in hover:border-red-500 hover:bg-white hover:text-red-500 focus:ring-red-500 active:scale-90 disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-100 disabled:text-gray-300;
  }
}

canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

html,
body {
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
  max-height: 100vh;
}
